:root {
    /* Background Colors */
    --bg-light-teal: #7df9ff; /* Light teal */
    --bg-dark-teal: #284b4b; /* Dark teal */
    --bg-dark: #000000; /* Black */
  
    /* Text Colors */
    --text-light-teal: #7df9ff; /* Light teal */
    --text-dark-teal: #284b4b; /* Dark teal */
    --text-white: #ffffff; /* White */
    --text-highlight: #164E4C; /* Highlight color */
  }

body {
    color: white;
    font-family: "Contemporary Sans Bold" !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  header {
    background-color: var(--bg-light-teal);
  }

  .navbar-brand {
    font-weight: bold;
    color:var(--text-dark-teal) !important;
  }

  .nav-link {
    font-weight: 500;
    color: var(--text-dark-teal) !important;
  }
 /* Custom container with a max-width of 960px */
/* .custom-container {
    max-width:1190px;
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    border: 1px solid red;
  } */
  

  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark-teal) !important; /* Dark teal background */
  }

  .left-section h1 {
    color: var(--text-light-teal);
    font-size: 3rem;
  }

  .right-section p {
    color: var(--text-white);
    line-height: 1.8;
    font-size: 1.1rem;
  }

  .flow-box {
    border: 2px solid var(--text-light-teal);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    color: var(--text-white);
  }

  /* .flow-box:hover {
    background-color: rgba(85, 242, 241, 0.1);
  } */

  .arrow {
    color: var(--text-light-teal);
    font-size: 2rem;
    text-align: center;
  }
a{
    color: var(--text-light-teal) !important;
}
  .highlight-box {
    background-color:var(--bg-light-teal);
    color: var(--text-highlight);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
  }

  footer {
    background-color: var(--bg-dark) !important;
    padding: 15px 0;
    text-align: center;
    color: var(--text-light-teal);
  }
  .margin-x{
    margin: 0px 40px !important;
  }